.idea
venv
*.pyc
*.lp
results/*
results_*/
results_old/test_haulogy
*.pdf
*.sh
output
*.txt
.DS_Store
*.prof
tests/test_output
tests/test_output_1_week
tests/test_output_1_month
.coverage
htmlcov/
cplex.log
data/
